{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Maps{% endblock %}</h1>
{% endblock %}

{% block content %}
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Maps</h3>
      <nav class="nav nav-masthead justify-content-center">
        <div class="row">
            <div class="input-group">
            <input class="form-control py-2 border-right-0 border" type="search" value="" placeholder="Search" id="example-search-input" autocomplete="off">
                <span class="input-group-append">
                    <div class="input-group-text bg-transparent"><i class="fa fa-search"></i></div>
                </span>
            </div>
        </div>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">

        <div id="world-map-markers" style="width: 1200px; height: 800px !important"></div>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Proof of concept only. See <strong><a href="https://google.com/">here</a></strong> for more information.</p>
    </div>
  </footer>
</div>
</body>

<script>
    $(function(){
      marks = {}
      
      $('#world-map-markers').vectorMap({
        map: 'world_mill',
        scaleColors: ['#C8EEFF', '#0071A4'],
        normalizeFunction: 'polynomial',
        hoverOpacity: 0.7,
        hoverColor: false,
        markerStyle: {
            initial: {
                fill: '#991D85',
                stroke: '#991D85',
                "fill-opacity": 1,
                "stroke-width": 1,
                "stroke-opacity": 1,
                r: 6
            },
            hover: {
                stroke: 'black',
                "stroke-width": 2,
                cursor: 'pointer'
            },
            selected: {
                fill: 'blue'
            },
            selectedHover: {
            }
        },
        backgroundColor: '#fff',
        regionStyle: {
            initial: {
                fill: '#c4bfb4',
                "fill-opacity": 1,
                stroke: 'none',
                "stroke-width": 0,
                "stroke-opacity": 1
            },
            hover: {
                "fill-opacity": 0.75,
                cursor: 'pointer'
            },
            selected: {
                fill: 'yellow'
            },
            selectedHover: {
            }
        },
        onRegionClick: function(e,  code,  isSelected,  selectedRegions){
            $('#world-map-markers').vectorMap('get','mapObject').setFocus({region: code, animate: true});
        },
        markers: [
                {latLng: [41.90, 12.45], name: "misbah"},
                {latLng: [43.73, 7.41], name: 'Monaco'},
                {latLng: [-0.52, 166.93], name: 'Nauru'},
                {latLng: [-8.51, 179.21], name: 'Tuvalu'},
                {latLng: [43.93, 12.46], name: 'San Marino'},
                {latLng: [47.14, 9.52], name: 'Liechtenstein'},
                {latLng: [7.11, 171.06], name: 'Marshall Islands'},
                {latLng: [17.3, -62.73], name: 'Saint Kitts and Nevis'},
                {latLng: [3.2, 73.22], name: 'Maldives'},
                {latLng: [35.88, 14.5], name: 'Malta'},
                {latLng: [12.05, -61.75], name: 'Grenada'},
                {latLng: [13.16, -61.23], name: 'Saint Vincent and the Grenadines'},
                {latLng: [13.16, -59.55], name: 'Barbados'},
                {latLng: [17.11, -61.85], name: 'Antigua and Barbuda'},
                {latLng: [-4.61, 55.45], name: 'Seychelles'},
                {latLng: [7.35, 134.46], name: 'Palau'},
                {latLng: [42.5, 1.51], name: 'Andorra'},
                {latLng: [14.01, -60.98], name: 'Saint Lucia'},
                {latLng: [6.91, 158.18], name: 'Federated States of Micronesia'},
                {latLng: [1.3, 103.8], name: 'Singapore'},
                {latLng: [1.46, 173.03], name: 'Kiribati'},
                {latLng: [-21.13, -175.2], name: 'Tonga'},
                {latLng: [15.3, -61.38], name: 'Dominica'},
                {latLng: [-20.2, 57.5], name: 'Mauritius'},
                {latLng: [26.02, 50.55], name: 'Bahrain'},
                {latLng: [0.33, 6.73], name: 'São Tomé and Príncipe'}
    
        ]
      });
    });
</script>

{% endblock %}